<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--Sets from where a project can install NuGet packages-->
  <packageSources>
    <clear/>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Local Library" value=".\Libs\" />
  </packageSources>
</configuration>
